.cta-form-container {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 8px;
  max-width: 650px;
  position: relative;
  margin-bottom: -75px;

  &__header {
    border-bottom: 1px dashed $black;
    padding: 40px 0px;
  }

  &__body {
    padding: 40px 58px;

    @media screen and (max-width: $tablet) {
      padding: 40px 25px;
    }
  }

  &__pointer {
    position: absolute;
    top: -75px;
    left: -150px;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &__quote {
    position: absolute;
    top: -124px;
    right: -50px;
    z-index: -1;

    @media screen and (max-width: $tablet) {
      right: 10px;
    }
  }

  &__headline {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    font-family: $canela;
    margin-bottom: 32px;

    &--with-subheadline {
      margin-bottom: 10px;
    }
  }

  &__subheadline {
    text-align: center;
    margin-bottom: 0;
  }

  &__cta-btn-container {
    text-align: center;
    margin-top: 30px;
  }
}
