.icon-list-container {
  margin-top: 40px;

  @media screen and (max-width: $tablet) {
    margin-top: 30px;
  }
}

.icon-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__icon {
    width: 60px;
    height: 60px;

    @media screen and (max-width: $tablet) {
      width: 45px;
      height: 45px;
      align-self: flex-start;
    }
  }

  @media screen and (max-width: $tablet) {
    margin-bottom: 20px;
  }

  &__detail {
    font-family: $chiswick;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-left: 30px;
    max-width: 480px;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
      line-height: 22px;
      margin-left: 20px;
    }
  }
}
