/** @define price-offer-area */
.price-offer-area {
    padding-bottom: 130px !important;

    @media screen and (max-width: $tablet) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 50px !important;
    }
}

/** @define price-offer */
.price-offer {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid $price-border;
        padding-bottom: 10px;
        max-width: 1116px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $desktop) {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 0;
        }

        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 30px;
        }

        &-heading {
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: 2px;
            color: $black;

            @media screen and (max-width: $tablet) {
                font-size: 26px;
                line-height: 35px;
                margin-bottom: 10px;
            }

            &-name {
                display: none;

                &--show {
                    display: inline-block;
                }
            }
        }

        &-buttons-area {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        &-buttons {
            .price-offer__nav-button {
                display: inline-block;

                &--active {
                    display: none;
                }
            }

            &--remove-last-or
                .price-offer__nav-button--expert
                .price-offer__nav-button-or {
                display: none;
            }
        }

        &-button,
        &-button-or,
        &-buttons-label {
            font-family: $canela;
            background: $white;
            border: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            padding: 0;
            margin-bottom: 0;
            min-height: auto;
            color: $black;
            transition: background 0.2s ease-in-out;
            -webkit-transition: background 0.2s ease-in-out;
            -moz-transition: background 0.2s ease-in-out;
            -ms-transition: background 0.2s ease-in-out;
            -o-transition: background 0.2s ease-in-out;
        }

        &-button {
            color: $red;
            cursor: pointer;
        }

        &-button-or {
            cursor: auto;
        }
    }

    &__content {
        position: relative;
        margin-top: 47px;
        height: 1210px;

        @media screen and (max-width: $desktop) {
            margin-top: 0px;
        }
    }

    &__tab {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: -1;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;

        &--show {
            opacity: 1;
            z-index: 1;
        }

        &-item {
            .price-offer__tab-mobile-heading-name {
                display: none;

                &--show {
                    display: inline-block;
                }
            }

            .price-offer__plan-top {
                @media screen and (max-width: $desktop) {
                    height: auto;
                    padding-top: 0;
                }
            }

            .price-offer__tab-right {
                .price-offer__plan {
                    @media screen and (max-width: $desktop) {
                        display: none;
                        width: auto;
                    }

                    &--show {
                        @media screen and (max-width: $desktop) {
                            display: block;
                        }
                    }

                    &-top-name {
                        @media screen and (max-width: $desktop) {
                            display: none;
                        }
                    }

                    &-top-btn {
                        @media screen and (max-width: $desktop) {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 100%;
                            max-width: 330px;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                    }

                    .price-offer__list-item {
                        @media screen and (max-width: $desktop) {
                            padding-right: 30px;
                        }
                    }
                }
            }
        }

        &-wrapper {
            display: flex;
            max-width: 1116px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            @media screen and (max-width: $desktop) {
                max-width: 720px;
                margin-top: 30px;
                padding-bottom: 85px;
            }

            @media screen and (max-width: $tablet) {
                max-width: 100%;
                padding-left: 25px;
                padding-right: 25px;
                margin-top: 25px;
            }
        }

        &-left {
            flex: 1;
        }

        &-right {
            max-width: 776px;
            display: flex;

            .price-offer__plan {
                width: 244px;
            }
        }

        &-mobile-heading {
            background: $beige;
            padding: 24px 0;
            border-top: 1px dashed $black;
            border-bottom: 1px dashed $black;
            display: none;

            @media screen and (max-width: $desktop) {
                display: block;
            }

            .price-offer__tab-mobile-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 720px;
                margin-left: auto;
                margin-right: auto;

                @media screen and (max-width: $tablet) {
                    max-width: 100%;
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }

            &-text {
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                font-family: $chiswick;
            }

            &-arrows {
                display: flex;
                align-items: center;
                gap: 18px;
            }

            &-arrow {
                background: transparent;
                border: 0;
                padding: 0;
                cursor: pointer;
                width: 24px;
                height: 24px;

                &-path {
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                }

                &--disable {
                    .price-offer__tab-mobile-heading-arrow-path {
                        fill: #c4c4c4;
                    }
                }
            }
        }
    }

    &__plan {
        &--basic {
            .price-offer__plan-top {
                padding-right: 44px;
            }

            .price-offer__list-item {
                padding-right: 44px;
            }
        }

        &--pro {
            min-width: 288px;

            @media screen and (max-width: $desktop) {
                min-width: auto;
            }

            .price-offer__plan-top {
                padding-left: 44px;
                padding-right: 44px;
            }
        }

        &--most-selected {
            position: relative;

            @media screen and (max-width: $desktop) {
                position: static;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 18px);
                background: linear-gradient(180deg, #fff1dd 0%, #ffe2e2 100%);
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
                border: 1px solid $red;
                z-index: -1;

                @media screen and (max-width: $desktop) {
                    display: none;
                }
            }
        }

        &-selected-label {
            position: absolute;
            min-width: 160px;
            top: calc(100% - 2px);
            left: 50%;
            background: $price-selected-label;
            padding: 10px 20px;
            text-align: center;
            border: 1px solid $price-selected-label-border;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            z-index: 10;

            @media screen and (max-width: $desktop) {
                display: none;
            }

            &-text {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: $black;
                text-transform: uppercase;
                letter-spacing: 1px;
                min-height: auto;
                margin-bottom: 0;
            }
        }

        &--premium {
            .price-offer__plan-top {
                padding-left: 44px;
            }

            .price-offer__list-item {
                padding-left: 44px;
            }
        }

        &-top {
            height: 130px;
            padding-top: 20px;

            &-name {
                font-family: $chiswick;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                color: $black;
                margin-bottom: 17px;
            }

            &-btn {
                padding-top: 18.5px !important;
                padding-bottom: 18.5px !important;
                border-radius: 8px !important;
                -webkit-border-radius: 8px !important;
                -moz-border-radius: 8px !important;
                -ms-border-radius: 8px !important;
                -o-border-radius: 8px !important;

                &--most-selected {
                    background: linear-gradient(
                        126.08deg,
                        #d2281a 17.71%,
                        #d36056 55.71%,
                        #ffb46f 96.13%
                    );
                }
            }

            &-btn.cta-btn--outline-red {
                padding-top: 17.5px !important;
                padding-bottom: 17.5px !important;
            }
        }

        &-content {
            margin-bottom: 30px;

            @media screen and (max-width: $tablet) {
                margin-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &--no-title {
                padding-top: 32px;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            letter-spacing: normal;
            text-transform: none;
            margin-bottom: 8px;
        }
    }

    &__list {
        &-item {
            border-bottom: 1px solid $price-border;
            padding-bottom: 14px;
            padding-top: 14px;
            height: 49px;
            display: flex;
            align-items: center;

            @media screen and (max-width: $tablet) {
                height: 40px;
            }

            &:last-child {
                border-bottom: 0;
            }

            &-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $price-features-text;
                margin-bottom: 0;
                min-height: auto;
            }

            &-image {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;

                @media screen and (max-width: $desktop) {
                    margin-right: 0;
                }
            }
        }
    }
}
